div {
  display: inline-block;
  width: 200px;
  font-family: "Century Gothic";
  font-weight: bolder;
  font-size: 20px;
 	height: 70px;
  margin: 5px;
 	background-color: #F7b617;
}

.media {
 	background-color: #FA5C9C;
}
